# Copy to file docker-compose.yml
version: '3'

services:
  app: # name docker
    build: ../
    image: appbot  # name docker image
    volumes:
      - ../logs:/code/logs
      - ../last_id.txt:/code/last_id.txt
